body {
  /* background: repeating-linear-gradient(45deg, black, gray 10px); */
}

.light-hangar {
  justify-content: center;
  background-color: gray;
  padding: 3em;
  width: 6px;
  height: 12px;
}






.d-flex {}